<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS.ExternalMedia.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <POS.ExternalMedia.Test.Properties.Settings>
            <setting name="PosWebApiUri" serializeAs="String">
                <value>http://localhost:5000</value>
            </setting>
            <setting name="ScaleConnection" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ScannerConnection" serializeAs="String">
                <value>RS232Scanner</value>
            </setting>
            <setting name="ScaleConnector" serializeAs="String">
                <value>COM</value>
            </setting>
        </POS.ExternalMedia.Test.Properties.Settings>
    </applicationSettings>
</configuration>