<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POS.Device.Web.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="POS.ExternalMedia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <POS.Device.Web.API.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5201</value>
            </setting>
            <setting name="ScaleConnector" serializeAs="String">
                <value>OPOS</value>
            </setting>
        </POS.Device.Web.API.Properties.Settings>
      <POS.ExternalMedia.Properties.Settings>
        <setting name="PosWebApiUri" serializeAs="String">
          <value>http://localhost:5000</value>
        </setting>
        <setting name="ScaleConnection" serializeAs="String">
          <value>USBScale</value>
        </setting>
        <setting name="ScannerConnection" serializeAs="String">
          <value>USBScanner</value>
        </setting>
      </POS.ExternalMedia.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
